.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  padding: 0 10px;
  transition: visibility 0.3s, opacity 0.3s ease-in;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__preview-content {
  position: relative;
}

.modal__close-btn--type-preview {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  background: url("../images/icon-close-white.svg") no-repeat center;
  border: none;
  cursor: pointer;
}

.modal__content {
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
  width: 730px;
  border-radius: 8px;
}

.modal__close-btn {
  position: absolute;
  padding: 0;
  width: 40px;
  height: 40px;
  opacity: 40%;
  background-color: transparent;
  border: none;
  top: 32px;
  right: 50px;
}

.modal__close-btn--white {
  background-image: url("../images/close-btn--white.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.modal__image {
  max-width: 100%;
  max-height: 80vh;
  object-fit: contain;
  border-radius: 4px;
}

.modal__caption {
  margin-top: 10px;
  color: white;
  font-size: 14px;
  text-align: center;
}
.modal__title {
  color: #212121;
  font-weight: 500;
  margin: 0 0 32px;
  font-size: 32px;
  line-height: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  letter-spacing: 0;
  line-height: 110%;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 32px;
  line-height: 100%;
  letter-spacing: 0;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  padding: 10px;
  color: #212121;
  cursor: pointer;
}

.modal__input:hover {
  border-color: rgba(33, 33, 33, 0.6);
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.5);
  font-weight: 400;
  font-size: 20px;
}

.modal__submit-btn {
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  width: 156px;
  padding: 18px 32px;
  color: #fcf5e5;
  background-color: #212121;
  border-radius: 8px;
  border: 0;
}

.modal__close-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.modal__submit-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .modal__content {
    padding-top: 24px;
    padding-left: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    width: 300px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__close-btn {
    top: 22px;
    right: 12px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__submit-btn {
    width: 276px;
  }
}
